* {
  margin: 0;
  padding: 0;
  font-family: ABeeZee;
  transition: .5s;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth!important;
}
.inp {
  width: 100%;
  padding: 10px 0;
  font-size: 25px;
  outline: none;
  border: none;
  border-bottom: 1.5px solid rgb(26, 145, 162);
  margin: 15px 0;
  line-height: 1.3em;
  background-color: transparent;
  color: rgb(26 145 162);
}
.inp:focus {
  border-bottom: 2px solid rgb(26, 145, 162);
}
.inp::placeholder {
  color: rgba(26, 145, 162,.5);
  opacity: 1; /* Firefox */
}

.lab {
  width: 100%;
  padding: 10px;
  font-size: 1.5em;
  /* font-weight: bold; */
  color: grey;
}
.sn {
  color: rgb(26 145 162);
  margin-left: -60px;
}
.back {
  background-image: url("../images.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
}
.contain {
  height: "100%";
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: slide .5s ease in;
}
.left{
  flex: none;
  text-align: left;
  width: 100%;
}
.customBtn {
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 0 12px lightgrey;
  border: none;
  border-radius: 5px;
  color: grey;
  /* font-weight: bold; */
  font-size: 1.2em;
  margin: 5px;
}
.bottomBtn {
  padding: 10px 15px;
  background-color: white;
  box-shadow: 0 0 12px lightgrey;
  border: none;
  border-radius: 5px;
  color: grey;
  font-size: 1.2em;
  margin: 0;
}
.customBtn:focus {
  outline: none;
}
.status{
    vertical-align: bottom;
}

@media only screen and (max-width: 600px) {
  .percent{
    width: 70%;
  }
  .sn{
    display: block;
    /* text-align: center; */
    margin-left: 0;
  }
}
.empty {
  background-color: rgba(0, 0, 0, 0.5);
  width: 170px;
}
.statusFull {
  padding: 3px;
  background-color: rgb(110 127 127);
  width: 0%;
  border-radius: 5px;
}
.percent {
  width: 200px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0;
  text-align: left;
  vertical-align: top;
  padding: 10px;
}
.percent p{
  margin-bottom: 0;
}
.select{
    width: 100%;
    padding: 10px;
    color:  rgb(26, 145, 162);
    border: none;
    border: 1px solid  rgb(26, 145, 162);
    background-color:  rgba(26, 145, 162,.1);
    border-radius: 5px;
    font-weight: bold;
}
.select:focus{
    outline: none;
    border: 2px solid rgb(26, 145, 162);
    background-color:  rgba(26, 145, 162,.3);
}
.selected{
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    color:  rgb(26, 145, 162);
    border: 2px solid rgb(26, 145, 162);
    background-color:  rgba(26, 145, 162,.3);
    font-weight: bold;
}
.selected:focus{
    outline: none;
}
.select:hover{
    background-color:  rgba(26, 145, 162,.3);
}
.uploadFile{
    width: 100%;
    margin: 20px;
    border: 2px dashed rgb(26, 145, 162);
    height: 30%;
    text-align: center;
    /* font-size: 2em; */
    color: rgb(26, 145, 162);
    outline: none;
}
#input_CV{
    display: none;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(26, 145, 162, .3); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  rgb(26, 145, 162); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(26, 145, 162,9); 
}

.slideanim {
  visibility:hidden;
  visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim.slide {                  
  visibility: visible;                  
  animation: slide 1s;
}
.slideanim::after {
  /* useful when its child elements are float:left; */
  content: "";
  display: table;
  clear: both;
}
@keyframes slide {
  0% {
      transform: translateY(50%);
  } 
  100% {
      transform: translateY(0);
  } 
}
.error{
  color: red;
  background-color: white;
  box-shadow: 0 5px 7px lightgrey;
  padding: 5px;
  width: fit-content;
  border-radius: 5px;
  display: none;
}